DB_USER=sa
DB_PASSWORD=Troque_esta_Senha1
DB_NAME=poc_ingestao_proc_arquivo
RABBIT_USER=poc
RABBIT_PASSWORD=troque_esta_senha
STORAGE_PATH=/storage
MAX_ZIP_MB=100
MAX_ARQUIVOS_POR_LOTE=500
MAX_DESCOMPACTADO_MB=500
MAX_TENTATIVAS=3
RETENCAO_DIAS=30
